.section-about {
  background-color: $color-grey-light1;
  padding: 20vh 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    margin-top: -10vh;
    padding: 10vh 0 20rem 0;
  }
}

.section-features {
  background-image: linear-gradient(
      to left,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  padding: 20rem 4rem;
  margin-top: -12rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light1;
  padding-top: 25rem;
  padding-bottom: 15rem;
  margin-top: -13rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  // .row {
  //   @include respond(tab-port) {
  //     max-width: 90%;
  //   }
  // }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.4);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 70%,
        transparent 70%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9),
        rgba($color-white, 0.9)
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
