.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
    width: 100%;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    width: 90%;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    display: block;
    border-bottom: solid transparent 3px;
    transition: all 0.5s;

    &:focus {
      outline: none;
      border-bottom: solid $color-primary 3px;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    }

    &::placeholder {
      color: $color-grey-dark2;
    }

    &:focus:invalid {
      border-bottom: solid $color-secondary-dark 3px;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.5rem;
    display: block;
    transition: all 0.5s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  //radio goutp style

  &__radio {
    &-group {
      display: inline-block;
      width: 49%;
    }
    &-input {
      display: none;
      // visibility: hidden;
    }
    &-input:checked + &-label &-button::after {
      opacity: 1;
    }

    &-label {
      font-size: $default-font-size;
      cursor: pointer;
      padding-left: 5rem;
      position: relative;
    }

    &-button {
      height: 3rem;
      width: 3rem;
      border: solid $color-primary 5px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -0.5rem;
      left: 0;
      // transform: translate(50%, -50%);
      &::after {
        content: "";
        display: block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
      }
    }
  }
}
